/* Navbar */
@media(max-width: 600px) {

    .section-1 {
        display: block !important;

    }

    .profile,
    #aboutMe {
        width: 100%;
        margin: 30px 0 0;
    }

    .footer {
        border-top: 0;
        display: block !important;
    }

    .footer div {
        margin-bottom: 40px;
    }

}